@font-face {
  font-family: FuturaBT-Book;
  src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff2); }

@font-face {
  font-family: FuturaBT-Heavy;
  src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff2); }

body {
  padding: 0;
  margin: 0; }

.magazine__container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f8f6; }

.flex-row {
  display: flex; }
  .flex-row .col {
    flex: 1; }

.navbar {
  background-color: white;
  width: 83%;
  padding: 1% 10% 1% 7%;
  justify-content: space-between;
  position: fixed;
  align-items: center; }
  .navbar .navbar__logo {
    width: 100%;
    max-width: 200px; }
  .navbar .navbar__nav {
    align-items: center; }
    .navbar .navbar__nav .navbar__nav__item {
      width: 6.5rem;
      font-size: 1.05rem;
      text-align: center; }
      .navbar .navbar__nav .navbar__nav__item a {
        color: rgba(1, 1, 1, 0.5);
        text-decoration: none;
        font-family: "FuturaBT-Book", sans-serif;
        vertical-align: center; }
        .navbar .navbar__nav .navbar__nav__item a:hover {
          color: black; }
      .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--current a {
        color: black; }
      .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--special {
        border-radius: 52px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        background-color: #ffb21a; }
        .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--special:hover {
          background-color: orange; }
        .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--special a {
          color: white; }
    .navbar .navbar__nav .navbar__nav__hamburger {
      display: none; }

@media (max-width: 619px) {
  .navbar .navbar__nav .navbar__nav__item {
    display: none; }
  .navbar .navbar__nav .navbar__nav__hamburger {
    display: flex;
    line-height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ffb21a;
    color: white; }
    .navbar .navbar__nav .navbar__nav__hamburger:hover {
      background-color: orange; } }

.banner {
  padding-top: 28vh;
  text-align: center; }
  .banner .banner__logo {
    margin-bottom: 1%; }
  .banner .banner__header {
    margin: 0 auto;
    font-family: "FuturaBT-Heavy", sans-serif;
    letter-spacing: -4px;
    font-weight: lighter;
    font-size: 5.5em;
    opacity: 0.9; }
  .banner .banner__subtitle {
    font-family: "FuturaBT-Heavy", sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1em;
    opacity: 0.4; }
