@font-face {
  font-family: FuturaBT-Book;
  src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff2); }

@font-face {
  font-family: FuturaBT-Heavy;
  src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff2); }

body {
  padding: 0;
  margin: 0; }

.magazine__container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f8f6; }

.flex-row {
  display: flex; }
  .flex-row .col {
    flex: 1; }

.navbar {
  z-index: 100;
  background-color: white;
  width: 83%;
  padding: 1.75% 10% 1.75% 7%;
  justify-content: space-between;
  position: fixed;
  align-items: center; }
  .navbar .navbar__logo {
    width: 100%;
    max-width: 200px; }
  .navbar .navbar__nav {
    align-items: center; }
    .navbar .navbar__nav .navbar__nav__item {
      width: 6rem;
      font-family: "FuturaBT-Book", sans-serif;
      font-size: 1.1rem;
      text-align: center; }
      .navbar .navbar__nav .navbar__nav__item a {
        color: rgba(1, 1, 1, 0.5);
        text-decoration: none;
        vertical-align: center; }
        .navbar .navbar__nav .navbar__nav__item a:hover {
          color: black; }
      .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--current a {
        color: black; }
      .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--special {
        width: 8.75rem;
        border-radius: 52px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        background-color: #ffb21a; }
        .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--special:hover {
          background-color: orange; }
        .navbar .navbar__nav .navbar__nav__item.navbar__nav__item--special a {
          color: white; }
    .navbar .navbar__nav .navbar__nav__hamburger {
      display: none; }

@media (max-width: 720px) {
  .navbar .navbar__logo {
    content: url("https://www.wealthsimple.com/assets/magazine/images/header/logo_small-6dccf727ddc595c19f73cecef3069936.svg");
    max-width: 32px;
    height: 32px; }
  .navbar .navbar__nav .navbar__nav__item {
    display: none; }
  .navbar .navbar__nav .navbar__nav__hamburger {
    display: flex;
    line-height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ffb21a;
    color: white; }
    .navbar .navbar__nav .navbar__nav__hamburger:hover {
      background-color: orange; } }

.banner {
  padding-top: 30vh;
  text-align: center; }
  .banner .banner__logo {
    margin-bottom: 1%; }
  .banner .banner__header {
    margin: 0 auto;
    font-family: "FuturaBT-Heavy", sans-serif;
    letter-spacing: -4px;
    font-weight: lighter;
    font-size: 6em;
    opacity: 0.9; }
  .banner .banner__subtitle {
    font-family: "FuturaBT-Heavy", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: .9em;
    opacity: 0.4; }
  .banner .banner__filterbar {
    justify-content: center;
    margin: 6em 0 3em 0; }
    .banner .banner__filterbar .filterbar__bullet {
      max-width: 10px;
      opacity: 0.4; }
    .banner .banner__filterbar .banner__filter {
      max-width: 8rem; }
      .banner .banner__filterbar .banner__filter .filter__link {
        font-family: "FuturaBT-Book", sans-serif;
        font-size: 1.1rem;
        max-width: 0.5rem;
        cursor: pointer;
        opacity: 0.4; }
        .banner .banner__filterbar .banner__filter .filter__link:hover {
          text-decoration: underline; }
        .banner .banner__filterbar .banner__filter .filter__link.filter__link--active {
          opacity: 1; }

@media (max-width: 1000px) {
  .banner .banner__header {
    font-size: 3em;
    letter-spacing: 0px; } }

@media (max-width: 720px) {
  .banner {
    padding-top: 10vh; }
    .banner .banner__logo {
      display: none; }
    .banner .banner__filterbar {
      display: none; } }

.posts__container {
  padding: 0 3em 0 3em; }
  .posts__container .post--featured {
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 1180px; }
    .posts__container .post--featured a {
      text-decoration: none; }
      .posts__container .post--featured a .post--featured__img {
        width: 100%; }
      .posts__container .post--featured a .post--featured__excerpt {
        padding: 2rem 2rem 1rem 2rem;
        text-align: left;
        color: black;
        position: absolute;
        right: 0rem;
        bottom: 3rem;
        background-color: rgba(255, 255, 255, 0.85);
        width: 36rem; }
        .posts__container .post--featured a .post--featured__excerpt .excerpt__category {
          font-family: "FuturaBT-Heavy", sans-serif;
          font-weight: 100;
          letter-spacing: 2px;
          font-size: .9em;
          opacity: 0.4; }
        .posts__container .post--featured a .post--featured__excerpt .excerpt__header {
          font-family: "FuturaBT-Heavy", sans-serif;
          font-size: 1.5rem;
          font-weight: lighter; }
        .posts__container .post--featured a .post--featured__excerpt .excerpt__blurb {
          font-family: "FuturaBT-Book", sans-serif;
          font-size: 1.1rem; }
      .posts__container .post--featured a:hover .excerpt__header {
        text-decoration: underline; }
  .posts__container .recent-posts__intro {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    max-width: 1180px;
    margin: 6rem auto 3rem; }
    .posts__container .recent-posts__intro .recent-posts__intro__header {
      margin: 0 0 1rem;
      font-family: "FuturaBT-Heavy", sans-serif;
      font-size: 1.5rem;
      font-weight: lighter;
      font-size: 2.5rem;
      letter-spacing: -2px; }
    .posts__container .recent-posts__intro .flex-row {
      font-family: "FuturaBT-Book", sans-serif;
      font-size: 1.1rem; }
      .posts__container .recent-posts__intro .flex-row .recent-posts__intro__blurb {
        opacity: 0.4;
        margin: 0; }
      .posts__container .recent-posts__intro .flex-row a.col {
        text-align: right;
        text-decoration: none;
        color: #ffb21a;
        width: 10%;
        max-width: 4rem; }
        .posts__container .recent-posts__intro .flex-row a.col:hover {
          text-decoration: underline; }
  .posts__container .recent-posts__container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .posts__container .recent-posts__container .recent-post {
      background-color: white;
      margin-bottom: 1rem;
      width: 49%; }
      .posts__container .recent-posts__container .recent-post a {
        text-decoration: none;
        color: black; }
        .posts__container .recent-posts__container .recent-post a .recent-post__img__container {
          max-height: 20rem;
          overflow: hidden; }
        .posts__container .recent-posts__container .recent-post a .recent-post__excerpt {
          padding: 2rem; }
          .posts__container .recent-posts__container .recent-post a .recent-post__excerpt .recent-post__category {
            font-family: "FuturaBT-Heavy", sans-serif;
            font-weight: 100;
            letter-spacing: 2px;
            font-size: .9em;
            opacity: 0.4; }
          .posts__container .recent-posts__container .recent-post a .recent-post__excerpt .recent-post__header {
            font-family: "FuturaBT-Heavy", sans-serif;
            font-size: 1.5rem;
            font-weight: lighter; }
          .posts__container .recent-posts__container .recent-post a .recent-post__excerpt .recent-post__blurb {
            font-family: "FuturaBT-Book", sans-serif;
            font-size: 1.1rem; }
        .posts__container .recent-posts__container .recent-post a:hover .recent-post__header {
          text-decoration: underline; }
      .posts__container .recent-posts__container .recent-post.hidden {
        display: none; }

@media (max-width: 720px) {
  .posts__container {
    padding: 0; }
    .posts__container .post--featured .post--featured__excerpt {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      padding: 2rem;
      position: static !important;
      width: 100% !important; }
  .recent-posts__intro {
    padding: 0 2rem 0 2rem; }
    .recent-posts__intro .flex-row {
      display: block; }
  div.recent-posts__container {
    display: block !important;
    padding: 0 2rem 0 2rem; }
    div.recent-posts__container div.recent-post {
      width: 100% !important; } }

#responsiveNavBar {
  z-index: 1000;
  display: none;
  right: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #ffb21a;
  text-align: center;
  transition: 0.4s; }
  #responsiveNavBar .button--close {
    font-family: "FuturaBT-Book", sans-serif;
    text-decoration: none;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2.75rem;
    font-weight: lighter;
    color: white; }
    #responsiveNavBar .button--close:hover {
      opacity: 0.4; }
  #responsiveNavBar .responsiveNavBar__buttons {
    margin-top: 30vh; }
    #responsiveNavBar .responsiveNavBar__buttons a {
      font-family: "FuturaBT-Heavy", sans-serif;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: .9em;
      opacity: 0.4;
      opacity: 1;
      text-decoration: none;
      letter-spacing: 0.05em;
      color: white;
      line-height: 40px; }
      #responsiveNavBar .responsiveNavBar__buttons a:hover {
        opacity: 0.4; }
    #responsiveNavBar .responsiveNavBar__buttons .button-group--primary {
      margin-bottom: 8vh; }
    #responsiveNavBar .responsiveNavBar__buttons .social {
      font-size: 3rem; }
