<div class="banner">

  <img class="banner__logo" src="https://www.wealthsimple.com/assets/magazine/images/header/logo-010d4e6641c28141d4c88b71646b377a.svg" width="190px" alt="Wealthsimple">

  <h1 class="banner__header">Magazine</h1>
  <h2 class="banner__subtitle">STORIES AND IDEAS FROM WEALTHSIMPLE</h2>

  <div class="flex-row banner__filterbar">
    <div class="col banner__filter">
      <a class="filter__link filter__link--active">All Stories</a>
    </div>

    <div class="col filterbar__bullet">·</div>

    <div class="col banner__filter">
      <a class="filter__link">Odd Stories</a>
    </div>

    <div class="col filterbar__bullet">·</div>

    <div class="col banner__filter">
      <a class="filter__link">Even Stories</a>
    </div>
  </div>

</div>