<div class="banner">

  <img class="banner__logo" src="https://www.wealthsimple.com/assets/magazine/images/header/logo-010d4e6641c28141d4c88b71646b377a.svg" width="190px" alt="Wealthsimple" class="header-logo-image">

  <h1 class="banner__header">Magazine</h1>
  <h2 class="banner__subtitle">STORIES AND IDEAS FROM WEALTHSIMPLE</h2>
</div>