<div class="navbar flex-row">

  <img class="navbar__logo col" src="https://www.wealthsimple.com/assets/magazine/images/header/logo-010d4e6641c28141d4c88b71646b377a.svg" alt="Wealthsimple" class="header-logo-image">

  <div class="navbar__nav flex-row">
    <div class="navbar__nav__item col">
      <a href="#">The Details</a>
    </div>
    <div class="navbar__nav__item col">
      <a href="#">Magazine</a>
    </div>
    <div class="navbar__nav__item col">
      <a href="#">Sign in</a>
    </div>
    <div class="navbar__nav__item navbar__nav__item--special col">
      <a href="#">Start Investing</a>
    </div>
  </div>

</div>
