<div class="posts__container">
  <div class="post--featured">
    <a href="">
      <img class="post--featured__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/Main-Image.jpg">
    </a>
  </div>
</div>