<div class="posts__container">
  <div class="post--featured">
    <a href="">
      <img class="post--featured__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/Main-Image.jpg">

      <div class="post--featured__excerpt">
        <span class="excerpt__category">NEWS</span>
        <h3 class="excerpt__header">
          Wealthsimple Trade Is Here — Meet Canada’s $0 Commission Stock Trading App
        </h3>
        <p class="excerpt__blurb">
          You’ll be able to trade stocks and ETFs with no commissions, on your phone, all with a beautifully intuitive app. Sign up now so you’re first in line when we launch.
        </p>
      </div>
    </a>
  </div>
</div>
