<div class="posts__container">
  <div class="post--featured">
    <a href="">
    <img class="post--featured__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/Main-Image.jpg">
    <div class="post--featured__excerpt">
      <span class="excerpt__category">NEWS</span>
      <h3 class="excerpt__header">
        Wealthsimple Trade Is Here — Meet Canada’s $0 Commission Stock Trading App
      </h3>
      <p class="excerpt__blurb">
        You’ll be able to trade stocks and ETFs with no commissions, on your phone, all with a beautifully intuitive app. Sign up now so you’re first in line when we launch.
      </p>
    </div>
    </a>
  </div>

  <div class="recent-posts__intro" >
    <h2 class="recent-posts__intro__header">Money Diaries</h2>
    <div class="flex-row">
      <p class="col recent-posts__intro__blurb">
        Interesting people talking candidly about money.
      </p>
      <a class="col" href="">See all</a>
    </div>
  </div>

  <div class="recent-posts__container">

    <!-- <div class="recent-post">
      <a href="">
        <img class="recent-post__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/SandraLee_final-1.jpg" width="100%">
        <div class="recent-post__excerpt">
          <span class="recent-post__category">
            MONEY DIARIES
          </span>
          <h3 class="recent-post__header">
            How Exactly Do You Build a Fortune Popping Pimples on YouTube?
          </h3>
          <p class="recent-post__blurb">
            Dr. Sandra Lee — AKA Dr. Pimple Popper — followed in her father's footsteps and became a dermatologist. Then she found herself embracing a celebrity born of weird human internet impulses.
          </p>
        </div>
      </a>
    </div>

    <div class="recent-post">
      <a href="">
        <img class="recent-post__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/Lauren-Greenfield-1.jpg" width="100%">
        <div class="recent-post__excerpt">
          <span class="recent-post__category">
            MONEY DIARIES
          </span>
          <h3 class="recent-post__header">
            Director Lauren Greenfield Discovered What Hedge Funders, Porn Stars and Rappers All Have in Common
          </h3>
          <p class="recent-post__blurb">
            The woman behind the award-winning documentaries 'The Queen of Versailles' and 'Thin' discusses her new film, 'Generation Wealth,' about how looking rich has become the new being rich.
          </p>
        </div>
      </a>
    </div>

    <div class="recent-post">
      <a href="">
      <img class="recent-post__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/07/AngelicaRoss_final-1.jpg" width="100%">
      <div class="recent-post__excerpt">
        <span class="recent-post__category">
          MONEY DIARIES
        </span>
        <h3 class="recent-post__header">
          The World Wouldn't Make a Place for Angelica Ross. So She Made One for Herself
        </h3>
        <p class="recent-post__blurb">
          Before she was cast on 'Pose,' she worked at Arby's and Apple. Got kicked out of the Navy and Applebee's. The winding money journey of a new type of TV star.
        </p>
      </div>
      </a>
    </div>

    <div class="recent-post">
      <a href="">
      <img class="recent-post__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/07/DavidAlport_final--1-.jpg" width="100%">
      <div class="recent-post__excerpt">
        <span class="recent-post__category">
          MONEY DIARIES
        </span>
        <h3 class="recent-post__header">
          The Financial Life of a Weed Entrepreneur
        </h3>
        <p class="recent-post__blurb">
          David Alport may be one of the most established players in Oregon's booming marijuana industry, but he's still living in a modern day Wild West.
        </p>
      </div>
      </a>
    </div> -->

    <template id="storyTemplate">
    <div class="recent-post">
      <a href="">
      <img class="recent-post__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/07/DavidAlport_final--1-.jpg" width="100%">
      <div class="recent-post__excerpt">
        <span class="recent-post__category">
          MONEY DIARIES
        </span>
        <h3 class="recent-post__header"></h3>
      </div>
      </a>
    </div>
    </template>

  </div>

</div>
