<div class="posts__container">

  <div id="post--featured__id">
    <template id="featuredTemplate">
      <div class="post--featured">
        <a href="">
        <img class="post--featured__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/Main-Image.jpg">
        <div class="post--featured__excerpt">
          <span class="excerpt__category">NEWS</span>
          <h3 class="excerpt__header">
          </h3>
          <p class="excerpt__blurb">
          </p>
        </div>
        </a>
      </div>
    </template>
  </div>

  <div class="recent-posts__intro" >
    <h2 class="recent-posts__intro__header">Top Stories</h2>
    <div class="flex-row">
      <p class="col recent-posts__intro__blurb">
        Check out these top stories from Hacker News.
      </p>
      <a class="col" href="">See all</a>
    </div>
  </div>

  <div class="recent-posts__container">
    <template id="storyTemplate">
      <div class="recent-post">
        <a href="">
          <div class="recent-post__img__container">
            <img class="recent-post__img" src="https://wealthsimple-grow.ghost.io/content/images/2018/08/Main-Image.jpg" width="100%">
          </div>
          <div class="recent-post__excerpt">
            <span class="recent-post__category">
              TOP STORIES
            </span>
            <h3 class="recent-post__header"></h3>
            <p class="recent-post__blurb"></p>
          </div>
        </a>
      </div>
    </template>

  </div>

</div>
