<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Magazine | Wealthsimple
    </title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="styles/css/application.css">

  </head>
  <body>

    <%- include ./partials/navBar.ejs %>

    <div class="magazine__container">
      <%- include ./partials/banner.ejs %>

      <%- include ./partials/posts.ejs %>

    </div>

  </body>
</html>