<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Magazine | Wealthsimple
    </title>

    <!-- requirejs -->
    <script data-main="scripts/main" src="scripts/require.js"></script>



    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="styles/css/application.css">

    <link rel="icon"
      type="image/svg"
      href="https://www.wealthsimple.com/assets/magazine/images/header/logo_small-6dccf727ddc595c19f73cecef3069936.svg">
  </head>

  <body>

    <%- include ./partials/navBar.ejs %>

    <div class="magazine__container">
      <%- include ./partials/banner.ejs %>
      <%- include ./partials/posts.ejs %>
    </div>

    <script src="scripts/lazyLoad.js"></script>

  </body>
</html>