.banner{
  padding-top: 30vh;
  text-align: center;
  .banner__logo{
    margin-bottom: 1%;
  }
  .banner__header{
    margin: 0 auto;
    font-family: $font1-heavy;
    letter-spacing: -4px;
    font-weight: lighter;
    font-size: 6em;
    opacity: 0.9;
  }
  .banner__subtitle{
    font-family: $font1-heavy;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1em;
    opacity: 0.4;
  }

  .banner__filterbar{
    justify-content: center;
    margin-top: 6em;
    .filterbar__bullet{
      opacity: 0.4;
    }
    .banner__filter{
      .filter__link{
        max-width: 0.5rem;
        cursor: pointer;
        font-family: $font1;
        font-size: 1.25em;
        opacity: 0.4;
        &:hover{
          text-decoration: underline;
        }
        &.filter__link--active{
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .banner{
    .banner__header{
      font-size: 4em;
    }
  }
}
@media (max-width: 720px) {
  .banner{
    padding-top: 10vh;
    .banner__logo{
      display: none;
    }
    .banner__filterbar{
      display: none;
    }
  }
}