@font-face {
  font-family: FuturaBT-Book;
  src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff2);
}

$font1: 'FuturaBT-Book';

.content{
  padding-top: 80px;
  background-color: rgba(249,248,246,1);
}

.flex-row {
  display: flex;
  .col {
    flex: 1;
  }
}

// @media (max-width: 619px) {
//   .flex-row {
//     display: block;
//   }
// }