.navbar{
  z-index: 1000;
  background-color: white;
  width: 83%;
  padding: 1.75% 10% 1.75% 7%;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  .navbar__logo{
    width: 100%;
    max-width: 200px;
  }
  .navbar__nav{
    align-items: center;
    .navbar__nav__item{
      width: 6rem;
      @include font--main;
      text-align: center;
      a{
        color: rgba(1,1,1,.5);
        text-decoration: none;
        // font-family: $font1;
        vertical-align: center;
        &:hover{
          color: black;
        }
      }
      &.navbar__nav__item--current{
          a{
            color: black;
          }
        }
      &.navbar__nav__item--special{
        width: 8.75rem;
        border-radius: 52px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        background-color: $color1-light;
        &:hover{
          background-color:  $color1;
        }
        a{
          color: white;
        }
      }
    }
    .navbar__nav__hamburger{
      display: none;
    }
  }
}
@media (max-width: 720px) {
  .navbar{
    .navbar__logo{

    }
    .navbar__nav{
      .navbar__nav__item{
        display: none;
      }
      .navbar__nav__hamburger{
        display: flex;
        line-height: 40px;
        font-size: 1.1em;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background-color: $color1-light;
        color: white;
        &:hover{
          background-color: $color1;
        }
      }
    }
  }
}