.posts__container{
  padding: 0 3em 0 3em;

  .post--featured{
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 1180px;
    .post--featured__img{
      width: 100%;
    }
    .post--featured__excerpt{
      padding: 2rem 2rem 1rem 2rem;
      text-align: left;
      color: black;
      position: absolute;
      right: 0rem;
      bottom: 3rem;
      background-color: rgba(255,255,255,.85);
      width: 36rem;
      .excerpt__category{
        @include font--subtitle;
      }
      .excerpt__header{
        @include font--header;
      }
      .excerpt__blurb{
        @include font--main;
      }
    }
  }

  .recent-posts__container{
    margin-top: 6rem;
    .recent-posts__intro{
      .recent-posts__intro__header{
        margin: 0 0 1rem;
        @include font--header;
        font-size: 2rem;
        letter-spacing: -2px;
      }
      .flex-row{
        @include font--main;
        .recent-posts__intro__blurb{
          opacity: 0.4;
          margin: 0;
          // p
        }
        a{
          text-align: right;
          text-decoration: none;
          color: $color1-light;
        }
      }
    }
  }



}

@media (max-width: 720px) {
  .posts__container{
    padding: 0;
    .post--featured{
      .post--featured__excerpt{
        box-sizing:border-box;
       -moz-box-sizing:border-box;
       -webkit-box-sizing:border-box;
       -ms-box-sizing:border-box;
        text-decoration: none;
        padding: 2rem;
        position: static;
        width: 100%;
        .excerpt__category{

        }
      }
    }
  }
}
@media (max-width: 720px){

}