.posts__container{
  padding: 0 3em 0 3em;

  .post--featured{
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 1180px;
    .post--featured__img{
      width: 100%;
    }
    .post--featured__excerpt{
      padding: 2rem 2rem 1rem 2rem;
      text-align: left;
      color: black;
      position: absolute;
      right: 0rem;
      bottom: 3rem;
      background-color: rgba(255,255,255,.85);
      width: 36rem;
      .excerpt__category{
        // same as from from banner header subtitle
        font-family: $font1-heavy;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: .9em;
        opacity: 0.4;
      }
      .excerpt__header{
        font-family: $font1-heavy;
        font-size: 1.5rem;
        font-weight: lighter;
      }
      .excerpt__blurb{
        font-family: $font1;
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 720px) {
  .posts__container{
    padding: 0;
    .post--featured{
      .post--featured__excerpt{
        box-sizing:border-box;
       -moz-box-sizing:border-box;
       -webkit-box-sizing:border-box;
       -ms-box-sizing:border-box;
        text-decoration: none;
        padding: 2rem;
        position: static;
        width: 100%;
        .excerpt__category{

        }
      }
    }
  }
}
@media (max-width: 720px){

}