.posts__container{
  padding: 0 3em 0 3em;

  .post--featured{
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 1180px;
    a{
      text-decoration: none;
      .post--featured__img{
        width: 100%;
      }
      .post--featured__excerpt{
        padding: 2rem 2rem 1rem 2rem;
        text-align: left;
        color: black;
        position: absolute;
        right: 0rem;
        bottom: 3rem;
        background-color: rgba(255,255,255,.85);
        width: 36rem;
        .excerpt__category{
          @include font--subtitle;
        }
        .excerpt__header{
          @include font--header;
        }
        .excerpt__blurb{
          @include font--main;
        }
      }
      &:hover{
        .excerpt__header{
          text-decoration: underline;
        }
      }
    }
  }

  .recent-posts__intro{
    margin: 6rem 0 3rem 0;
    .recent-posts__intro__header{
      margin: 0 0 1rem;
      @include font--header;
      font-size: 2.5rem;
      letter-spacing: -2px;
    }
    .flex-row{
      @include font--main;
      .recent-posts__intro__blurb{
        opacity: 0.4;
        margin: 0;
      }
      a.col{
        text-align: right;
        text-decoration: none;
        color: $color1-light;
        width: 10%;
        max-width: 4rem;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .recent-posts__container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    .recent-post{
      background-color: white;
      margin: 0;
      width: 49%;
      margin-bottom: 1.5rem;
      a{
        text-decoration: none;
        color: black;
        .recent-post__excerpt{
          padding: 2rem;
          .recent-post__category{
            @include font--subtitle;
          }
          .recent-post__header{
            @include font--header;
          }
          .recent-post__blurb{
            @include font--main;
          }
        }
        &:hover{
          .recent-post__header{
            text-decoration: underline;
          }
        }
      }
      &.hidden{
        display: none;
      }
    }


  }

}

@media (max-width: 720px) {
  .posts__container{
    padding: 0;
    .post--featured{
      .post--featured__excerpt{
        box-sizing:border-box;
       -moz-box-sizing:border-box;
       -webkit-box-sizing:border-box;
       -ms-box-sizing:border-box;
        padding: 2rem;
        position: static !important;
        width: 100% !important;
      }
    }
  }

  .recent-posts__intro{
    padding: 0 2rem 0 2rem;
    .recent-posts__intro__header{
    }
    .flex-row{
      display: block;
    }
  }

  div.recent-posts__container{
    display: block !important;
    padding: 0 2rem 0 2rem;
    div.recent-post{
      width: 100% !important;
    }
  }

}
